<section class="section facilities__index">
  <div class="container facilities__index__container">
    <p id="notice"><%= notice %></p>

    <div class="facilities__index__container__header">
      <h1 class="title">File Uploads</h1>
    </div>

    <table class="table  table-hover table-responsive-sm" style="width: 100%">
      <colgroup>
        <col span="3">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 30%;">
      </colgroup>
      <thead>
      <tr class="bg-dark-light">
        <th>User</th>
        <th>File</th>
        <th>Created At</th>
        <th></th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <% @file_uploads.each do |upload| %>
        <tr>
          <td><%= upload.user.email %></td>
          <td><%= link_to upload.file.filename, rails_blob_path(upload.file, disposition: 'attachment') %></td>
          <td><%= upload.created_at.strftime('%Y-%m-%d %H:%M') %></td>
          <td><div class="<%= file_upload_status_style(upload.status) %>"></div></td>
          <td><%= upload.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <%== pagy_nav(@pagy) %>
  </div>
</section>
