<section class="h-screen bg-background p-12">
  <div class="container mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>

    <div class="flex justify-between items-center mb-4">
      <h1 class="text-title3 mb-4">File Uploads</h1>
    </div>

    <table class="table-auto w-full border" style="width: 100%">
      <colgroup>
        <col span="3">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 30%;">
      </colgroup>
      <thead>
      <tr class="border">
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">User</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">File</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Created At</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Error</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Status</th>
      </tr>
      </thead>

      <tbody>
      <% @file_uploads.each do |upload| %>
        <tr>
          <td class="px-4 py-2"><%= upload.user.email %></td>
          <td class="px-4 py-2 text-primary-dark"><%= link_to upload.file.filename, rails_blob_path(upload.file, disposition: 'attachment') %></td>
          <td class="px-4 py-2"><%= upload.created_at.strftime('%Y-%m-%d %H:%M') %></td>
          <td class="px-4 py-2"><div class="<%= file_upload_status_style(upload.status) %>"></div></td>
          <td class="px-4 py-2"><%= upload.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <%== pagy_nav(@pagy) %>
  </div>
</section>
