<section class="h-screen bg-background p-12">
  <div class="container mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex justify-between items-center mb-4"><h1 class="text-title2 text-center">Uploaded Files</h1>
      <div class="flex items-center justify-center">
        <%= link_to new_file_upload_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2 hidden md:block">Upload new file</span>
            <span class="ml-2 md:hidden">New</span>
          </button>
        <% end %>
      </div>
    </div>

    <table class="table-auto w-full border" style="width: 100%">
      <thead>
      <tr class="border">
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">File</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Category</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Created</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Status</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Error</th>
        <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Action</th>
      </tr>
      </thead>

      <tbody>
        <%- @processed_files.each do |pf| %>
          <tr>
            <td class="px-4 py-2 text-primary-dark text-center"> <%- if pf.job_stats["rows_not_imported"].to_i > 0 %>
              <%= link_to pf.filename, show_processing_csv_errors_path(pf.id) %>
              <% else %>
                <%= link_to pf.filename, show_processed_file_path(pf.id, format: :csv) %>
              <%- end %>
            </td>
            <td class="px-4 py-2"><%= pf.category %></td>
            <td class="px-4 py-2"><%= pf.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <td class="px-4 py-2 text-center"><div class="<%= file_upload_status_style(pf.status) %>"></div></td>
            <td class="px-4 py-2"><%= pf.job_errors %></td>
            <td class="px-4 py-2 text-center">
              <% if pf.status == 'Processed' %>
                <%= link_to 'Show', show_processed_file_path(pf.id) %>
              <% else %>
                <%= link_to image_tag("icons/trash.svg"), file_upload_path(pf), title: 'Delete', method: :delete, class: 'trash-ico' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%== pagy_nav(@pagy) %>
  </div>
</section>
