<section class="section">
  <div class="container">
    <h1 class="title">File Uploads</h1>
    <h2 class="subtitle">Upload a Spreadsheet to Import its Data</h2>

    <p class="subtitle is-size-6">Select the type of spreadsheet and upload a .xlsx or .csv spreadsheet. <br /> CSV files are recommended for large spreadsheets (over 1000 rows).</p>

    <%= form_tag({action: :upload}, multipart: true, method: 'post') do %>
      <div class="field">
        <%= label_tag(:category, 'Category', class: 'label') %>
        <div class="control">
          <div class="select">
            <%= select_tag(:category, options_for_select(@categories)) %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="file">
          <%= label_tag('input_file', 'Select a file to upload', class: 'file-label') do %>
            <%= file_field_tag 'input_file', class: 'file-input' %>
            <span class="file-cta"> 
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file...
              </span>
            </span>
            <span class="file-name" id="file-name">
            </span>
          <% end %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= submit_tag('Submit', class: 'button is-primary') %>
        </div>

        <div class="control">
          <%= link_to 'Cancel', file_uploads_path, class: 'button is-light' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
