<section class="px-6 py-12">
  <div class="container">
    <h1 class="text-title3 mb-4">File Upload(s)</h1>
    <p class="mb-4">
      <%= link_to(new_file_upload_path) do %>
        <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
          <span class="ml-2 hidden md:block">Upload More Files</span>
        </button>
      <% end %>
      <%= link_to(file_uploads_path) do %>
        <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
          <span class="ml-2 hidden md:block">View All Files</span>
        </button>
      <% end %>
    </p>
    <% @file_uploads.each do |file_upload| %>
      <p>
        <b><%= file_upload.result_message %></b><br />
        Category: <%= file_upload.category %><br />
        Filename: <%= file_upload.filename %><br />
      </p>
    <% end %>
  </div>
</section>
