<%= form_with(model: cohort, local: true, html: { class: "w-full" }) do |form| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this cohort from being saved:</h2>
      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div>
      <%= form.label :name, class: 'text-sm text-caption-light font-medium uppercase' %>
    </div>
    <div>
      <%= form.text_field :name, class: 'input w-full mb-2' %>
    </div>
  </div>
  <div class="mb-2">
    <div>
      <%= form.label :male, class: 'text-sm text-caption-light font-medium uppercase' %>
    </div>
    <div>
      <%= form.collection_select :male_id, Animal.male.for_organization(current_organization), :id, :tag, prompt: true, class: 'input mb-2' %>
    </div>
  </div>
  <div class="mb-2">
    <div>
      <%= form.label :female, class: 'text-sm text-caption-light font-medium uppercase' %>
    </div>
    <div>
      <%= form.collection_select :female_id, Animal.female.for_organization(current_organization), :id, :tag, prompt: true, class: 'input mb-2' %>
    </div>
  </div>
  <div>
    <div>
      <%= form.label :enclosure, class: 'text-sm text-caption-light font-medium uppercase' %>
    </div>
    <div>
      <%= form.collection_select :enclosure_id, Enclosure.for_organization(current_organization), :id, :name, {include_blank: 'Select Enclosure'}, {class: 'input w-full mb-2'} %>
    </div>
  </div>
  <div>
    <div>
      <%= form.submit('Submit', class: 'bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mt-4') %>
    </div>
  </div>
<% end %>

