<section class="h-screen bg-background md:p-12 sm:w-100 p-0">
  <div class="container mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex md:flex-row flex-col md:justify-between mb-4">
      <h1 class="text-title2 text-center">Cohorts</h1>
      <div class="flex items-center justify-center">
        <%= link_to new_cohort_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2 hidden md:block">New Cohort</span>
            <span class="ml-2 md:hidden">New</span>
          </button>
        <% end %>
        <%= link_to new_cohort_import_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2 hidden md:block">Upload CSV</span>
              <span class="ml-2 md:hidden">Upload</span>
          </button>    
        <% end %>
        <%= link_to cohorts_path(format: :csv), id: "export_button" do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center">
            <span class="ml-2 hidden md:block">Export to CSV</span>
            <span class="ml-2 md:hidden">Export</span>
          </button>
        <% end %>
      </div>
    </div>
    <table class="table-auto w-full border">
      <thead>
        <tr class="border">
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Name</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Female</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Male</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Enclosure</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cohorts.each do |cohort| %>
          <tr>
            <td class="px-4 py-2" data-label="Name"><%= cohort.name %></td>
            <td class="px-4 py-2" data-label="Female">
              <% if cohort.female.present? %>
                <%= link_to cohort.female_tag || "No Tag", animal_path(cohort.female) %>
              <% else %>
                No female present
              <% end %>
            </td>
            <td class="px-4 py-2" data-label="Male">
              <% if cohort.male.present? %>
                <%= link_to cohort.male_tag || "No Tag", animal_path(cohort.male) %>
              <% else %>
                No male present
              <% end %>
            </td>
            <td class="px-4 py-2" data-label="Enclosure"><%= cohort.enclosure&.name %></td>
            <td class="text-base px-4 py-2 align-middle flex items-center" data-label="Actions"><%= link_to 'Show', cohort, 'aria-label' => "Show #{cohort.name}", class: 'text-primary-dark' %> <%= link_to image_tag("icons/edit.svg"), edit_cohort_path(cohort), 'aria-label' => "Edit #{cohort.name}", class: 'w-5 mx-2' %> <%= link_to image_tag("icons/trash.svg"), cohort, method: :delete, data: { confirm: 'Are you sure?' }, 'aria-label' => "Delete #{cohort.name}", class: 'w-5 mx-2' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
