<section class="h-screen bg-background p-12">
  <div class="container lg:max-w-xl mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex justify-between items-start mb-4">
      <%= link_to cohorts_path do %>
        <button class="text-primary-dark hover:text-primary font-bold py-2 rounded inline-flex items-center">
          <span><< Back</span>
        </button>
      <% end %>
      <%= link_to edit_cohort_path(@cohort) do %>
        <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center">
          <span>Edit Cohort</span>
        </button>
      <% end %>
    </div>
    <div>
      <h1 class="text-title3 mb-4">Cohort</h1>
    </div>
    <div class="block">
      <div class="text-sm text-caption-light font-medium uppercase">Name</div>
      <%= @cohort.name %>
      <div class="text-sm text-caption-light font-medium uppercase mt-2">Female</div>
      <%= @cohort.female_tag %>
      <div class="text-sm text-caption-light font-medium uppercase mt-2">Male</div>
      <%= @cohort.male_tag %>
      <div class="text-sm text-caption-light font-medium uppercase mt-2">Enclosure Name</div>
      <%= @cohort.enclosure&.name %>
      <div class="text-sm text-caption-light font-medium uppercase mt-2">Animals</div>
      <% @cohort.animals.each do |animal| %>
        <%= link_to animal.tag, animal_path(animal) %>
      <% end %>
    </div>
    <%= link_to '<< BACK', cohorts_path, class: "mr-3 mb-3 button-outline-primary" %>
    <%= link_to "Edit", edit_cohort_path(@cohort), class: "button-outline-primary mt-4" %>
  </div>
</section>
