<section class="h-screen p-12 bg-background">
  <div class="container px-8 py-6 mx-auto bg-white rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-title2">Enclosures</h1>
      <div class="flex items-center">
        <%= link_to new_enclosure_path, class: "inline-flex items-center px-4 py-2 mr-4 font-bold text-white rounded bg-primary-dark hover:bg-primary" do %>
          <%= image_tag  "icons/plus.png", size: 17 %>
          <span class="ml-2">New Enclosure</span>
        <% end %>
        <%= link_to csv_upload_enclosures_path, class: "inline-flex items-center px-4 py-2 mr-4 font-bold text-white rounded bg-primary-dark hover:bg-primary" do %>
          CSV Upload <%= image_tag  "icons/plus.png", size: 17 %>
        <% end %>
        <%= link_to enclosures_path(format: :csv), id: "export_button", class: "inline-flex items-center px-4 py-2 font-bold text-white rounded bg-primary-dark hover:bg-primary" do %>
          Export to CSV
        <% end %>
      </div>
    </div>
    <table class="w-full border table-auto">
      <thead>
        <tr class="border">
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" scope="col">Name</th>
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" scope="col">Facility</th>
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" scope="col">Location</th>
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" colspan="3" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @enclosures.each do |enclosure| %>
          <tr>
            <td class="px-4 py-2"><%= enclosure.name %></td>
            <td class="px-4 py-2"><%= enclosure.facility_name %></td>
            <td class="px-4 py-2"><%= enclosure.location_name %></td>
            <td class="px-4 py-2 text-primary-dark"><%= link_to 'Show', enclosure, 'aria-label': "Show #{enclosure.name}" %></td>
            <td class="px-4 py-2"><%= link_to image_tag("icons/edit.svg", size: 24), edit_enclosure_path(enclosure) %></td>
            <td class="px-4 py-2"><%= link_to image_tag("icons/trash.svg", size: 24), enclosure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

