<section class="h-screen bg-background md:p-12 sm:w-100 p-0">
  <div class="container px-8 py-6 mx-auto bg-white rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex md:flex-row flex-col md:justify-between mb-4">
      <h1 class="text-title2 text-center">Enclosures</h1>
      <div class="flex items-center justify-center">
        <%= link_to new_enclosure_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2 hidden md:block">New Enclosure</span>
            <span class="ml-2 md:hidden">New</span>
          </button>  
        <% end %>
        <%= link_to csv_upload_enclosures_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2 hidden md:block">Upload CSV</span>
            <span class="ml-2 md:hidden">Upload</span>
          </button>   
        <% end %>
        <%= link_to enclosures_path(format: :csv), id: "export_button" do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <span class="ml-2 hidden md:block">Export to CSV</span>
            <span class="ml-2 md:hidden">Export</span>
          </button>   
        <% end %>
      </div>
    </div>
    <table class="w-full border table-auto">
      <thead>
        <tr class="border">
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" scope="col">Name</th>
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" scope="col">Facility</th>
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" scope="col">Location</th>
          <th class="px-4 py-2 text-sm font-medium uppercase text-caption-light" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @enclosures.each do |enclosure| %>
          <tr>
            <td class="px-4 py-2" data-label="Name"><%= enclosure.name %></td>
            <td class="px-4 py-2" data-label="Facility"><%= enclosure.facility_name %></td>
            <td class="px-4 py-2" data-label="Location"><%= enclosure.location_name %></td>
            <td class="text-base px-4 py-2 align-middle flex items-center"  data-label="Actions"><%= link_to 'Show', enclosure, 'aria-label': "Show #{enclosure.name}", class: 'text-primary-dark' %> <%= link_to image_tag("icons/edit.svg"), edit_enclosure_path(enclosure), 'aria-label': "Edit #{enclosure.name}", class: 'w-5 mx-2' %> <%= link_to image_tag("icons/trash.svg"), enclosure, 'aria-label': "Delete #{enclosure.name}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'w-5 mx-2' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

