<section class="h-screen p-12 bg-background">
  <div class="container px-8 py-6 mx-auto bg-white lg:max-w-xl rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex items-start justify-between mb-4">
      <%= link_to enclosures_path, class: "inline-flex items-center py-2 font-bold rounded text-primary-dark hover:text-primary" do %>
        <span><< Back</span>
      <% end %>
      <%= link_to edit_enclosure_path(@enclosure), class: "inline-flex items-center px-4 py-2 font-bold text-white rounded bg-primary-dark hover:bg-primary" do %>
        <span>Edit Enclosure</span>
      <% end %>
    </div>
    <div>
      <h1 class="text-title3 mb-4">Enclosure</h1>
    </div>
    <div class="block">
        <div class="text-sm font-medium uppercase text-caption-light">Name</div>
        <%= @enclosure.name %>
        <div class="mt-2 text-sm font-medium uppercase text-caption-light">Facility</div>
        <%= @enclosure.facility_name %>
        <div class="mt-2 text-sm font-medium uppercase text-caption-light">Location</div>
        <%= @enclosure.location_name %>
    </div>

    <%= link_to '<< BACK', enclosures_path, class: "mr-3 mb-3 button-outline-primary" %>
    <%= link_to "Edit", edit_enclosure_path(@enclosure), class: "button-outline-primary mt-4" %>

  </div>
</section>

