<section class="section facilities__index">
  <div class="container facilities__index__container">
    <div class="facilities__index__container__header">
      <h1 class="title">Measurement Types</h1>
      <%= link_to new_measurement_type_path, class: "button-primary" do %>
        New Measurement Type <%= image_tag  "icons/plus.png", size: 17 %>
      <% end %>
    </div>

    <table class="table  table-hover table-responsive-sm">
      <thead>
        <tr class="bg-dark-light">
          <th>Name</th>
          <th>Unit</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @measurement_types.each do |measurement_type| %>
          <tr>
            <td><%= measurement_type.name %></td>
            <td><%= measurement_type.unit %></td>
            <td><%= link_to image_tag("icons/edit.svg", size: 24), edit_measurement_type_path(measurement_type) %></td>
            <td><%= link_to image_tag("icons/trash.svg", size: 24), measurement_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
