<%= form_with(model: family, local: true) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :male, class: 'label' %>
    <%= form.collection_select :male_id, Animal.all, :id, :pii_tag, prompt: true, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :female, class: 'label' %>
    <%= form.collection_select :female_id, Animal.all, :id, :pii_tag, prompt: true, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :tank, class: 'label' %>
    <%= form.collection_select :tank_id, Tank.all, :id, :name, include_blank: 'Select Tank', class: 'input' %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit('Submit', class: 'button-primary') %>
    </div>
  </div>
<% end %>
