<section class="section facilities__index">
  <div class="container facilities__index__container">
    <p id="notice"><%= notice %></p>

    <div class="facilities__index__container__header">
      <h1 class="title">Families</h1>
      <%= link_to new_family_path, class: "button-primary" do %>
        New Family <%= image_tag  "icons/plus.png", size: 17 %>
      <% end %>
    </div>

    <table class="table  table-hover table-responsive-sm">
      <thead>
      <tr class="bg-dark-light">
        <th>Name</th>
        <th>Female</th>
        <th>Male</th>
        <th>Tank</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @families.each do |family| %>
        <tr>
          <td><%= family.name %></td>
          <td><%= link_to family.female_pii_tag, animal_path(family.female) %></td>
          <td><%= link_to family.male_pii_tag, animal_path(family.male) %></td>
          <td><%= family.tank&.name %></td>
          <td><%= link_to 'Show', family_path(family) %></td>
          <td><%= link_to image_tag("icons/edit.svg", size: 24), edit_family_path(family) %></td>
          <td><%= link_to image_tag("icons/trash.svg", size: 24), family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</section>