<section class="h-screen bg-background p-12">
  <div class="container mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-title2">Users</h1>
      <div class="flex items-center">
        <%= link_to new_user_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2">New User</span>
          </button>
        <% end %>
      </div>
    </div>

    <table class="table-auto w-full border">
      <thead>
        <tr class="border">
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">ID</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Email</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Role</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Organization</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" colspan="3" scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="px-4 py-2"><%= user.id %></td>
            <td class="px-4 py-2"><%= user.email %></td>
            <td class="px-4 py-2"><%= user.role %></td>
            <td class="px-4 py-2"><%= user.organization.name %></td>
            <td class="text-primary-dark px-4 py-2">
              <%= link_to 'Show', user, title: "Show details for #{user.email}" %>
            </td>
            <td class="px-4 py-2 w-12">
              <%= link_to image_tag("icons/edit.svg"), edit_user_path(user), title: "Edit user #{user.email}" %>
            </td>
            <td class="px-4 py-2 w-12">
              <% unless user == current_user %>
                <%= link_to image_tag("icons/trash.svg"), user, method: :delete, data: { confirm: 'Are you sure?' },
                title: "Delete user #{user.email}" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
