<section class="h-screen bg-background p-12">
  <div class="container mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-title2">Facilities</h1>
      <div class="flex items-center">
        <%= link_to new_facility_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2">New Facility</span>
          </button>
        <% end %>
        <%#= link_to csv_upload_facilities_path, class: "button-primary" do %>
  <!--        CSV Upload <%#= image_tag  "icons/plus.png", size: 17 %>-->
        <%# end %>
        <%= link_to facilities_path(format: :csv), id: "export_button" do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center">
            Export to CSV
          </button>
        <% end %>
      </div>
    </div>
    <table class="table-auto w-full border">
      <thead>
        <tr class="border">
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Name</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Code</th>
          <th colspan="4" class="text-sm text-caption-light font-medium px-4 py-2 uppercase" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @facilities.each do |facility| %>
          <tr>
            <td class="px-4 py-2"><%= facility.name %></td>
            <td class="px-4 py-2"><%= facility.code %></td>
            <td class="text-primary-dark px-4 py-2 align-middle">
              <%= link_to 'Show', facility,
                'aria-label': "Show #{facility.name}" %>
            </td>
            <td class="text-primary-dark px-4 py-2 align-middle">
              <%= link_to 'Locations', facility_locations_path(facility),
                'aria-label': "#{facility.name} location" %>
            </td>
            <td class="px-4 py-2 w-12 align-middle">
              <%= link_to image_tag("icons/edit.svg"),
                edit_facility_path(facility),
                'aria-label': "Edit #{facility.name}" %>
            </td>
            <td class="px-4 py-2 w-12 align-middle">
              <%= link_to image_tag("icons/trash.svg"),
                facility, method: :delete, data: { confirm: 'Are you sure?' },
                'aria-label': "Delete #{facility.name}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
