<section class="section facilities__index">
  <div class="container facilities__index__container">
    <p id="notice"><%= notice %></p>

    <div class="facilities__index__container__header">
      <h1 class="title">Facilities</h1>
      <%= link_to new_facility_path, class: "button-primary" do %>
        New Facility <%= image_tag  "icons/plus.png", size: 17 %>
      <% end %>
      <%#= link_to csv_upload_facilities_path, class: "button-primary" do %>
<!--        CSV Upload <%#= image_tag  "icons/plus.png", size: 17 %>-->
      <%# end %>
      <%= link_to facilities_path(format: :csv), class: "button-primary" do %>
        Export to CSV
      <% end %>
    </div>

    <table class="table  table-hover table-responsive-sm">
      <thead>
        <tr class="bg-dark-light">
          <th>Name</th>
          <th>Code</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @facilities.each do |facility| %>
          <tr>
            <td><%= facility.name %></td>
            <td><%= facility.code %></td>
            <td><%= link_to 'Show', facility %></td>
            <td><%= link_to image_tag("icons/edit.svg", size: 24), edit_facility_path(facility) %></td>
            <td><%= link_to image_tag("icons/trash.svg", size: 24), facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</section>
