<section class="section facilities__index">
  <div class="container facilities__index__container">
    <p id="notice"><%= notice %></p>

    <div class="facilities__index__container__header">
      <h1 class="title">Animals</h1>
      <%= link_to csv_upload_animals_path, class: "button-primary" do %>
        CSV Upload <%= image_tag  "icons/plus.png", size: 17 %>
      <% end %>
      <%= link_to new_animal_path, class: "button-primary" do %>
        New Animal <%= image_tag  "icons/plus.png", size: 17 %>
      <% end %>
    </div>

    <table class="table  table-hover table-responsive-sm">
      <thead>
        <tr class="bg-dark-light">
          <th>Tag ID</th>
          <th>Collection Year</th>
          <th>SHL Numbers</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @animals.each do |animal| %>
          <tr>
            <td><%= animal.tag_id %></td>
            <td><%= animal.collection_year %></td>
            <td><%= link_to 'Show', animal %></td>
            <td><%= link_to image_tag("icons/edit.svg", size: 24), edit_animal_path(animal) %></td>
            <td><%= link_to image_tag("icons/trash.svg", size: 24), animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= animal.shl_number_codes(", ") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</section>
