<section class="h-screen bg-background p-12">
  <div class="container mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <p id="notice"><%= notice %></p>
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-title2">Animals</h1>
      <div class="flex items-center">
        <%= link_to new_animal_path do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4">
            <%= image_tag  "icons/plus.png", size: 17 %>
            <span class="ml-2">New Animal</span>
          </button>
        <% end %>
        <%= link_to csv_upload_animals_path, class: "bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center mr-4 hover:text-white" do %>
          <%= image_tag  "icons/plus.png", size: 17 %>
          <span class="ml-2">Upload CSV</span>
        <% end %>
        <%= link_to animals_path(format: :csv), id: "export_button" do %>
          <button class="bg-primary-dark hover:bg-primary text-white font-bold py-2 px-4 rounded inline-flex items-center">
            Export to CSV
          </button>
        <% end %>
      </div>
    </div>
    <table class="table-auto w-full border">
      <thead>
        <tr class="border">
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">Tag</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">Collection Year</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">Cohort</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">SHL Numbers</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @animals.each do |animal| %>
          <tr>
            <td class="px-4 py-2"><%= animal.tag %></td>
            <td class="px-4 py-2"><%= animal.collection_year %></td>
            <td class="px-4 py-2"><%= animal.cohort_name %></td>
            <td class="px-4 py-2"><%= animal.shl_number_codes(", ") %></td>
            <td class="text-primary-dark px-4 py-2"><%= link_to 'Show', animal %></td>
            <td class="px-4 py-2"><%= link_to image_tag("icons/edit.svg", size: 24), edit_animal_path(animal), title: 'Edit' %></td>
            <td class="px-4 py-2"><%= link_to image_tag("icons/trash.svg", size: 24), animal, title: 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
