
<section class="section facilities__show">
  <div class="container facilities__show__container">
    <p id="notice"><%= notice %></p>
    <div class="facilities__show__container__header">
      <h1 class="title">Animal</h1>
    </div>
    <div class="facilities__show__container__body mb-5">
      <p>
        <strong>Collection Year:</strong>
        <%= @animal.collection_year %>
      </p>

      <p>
        <strong>Date Collected:</strong>
        <%= @animal.date_time_collected %>
      </p>

      <p>
        <strong>Collection Position:</strong>
        <%= @animal.collection_position %>
      </p>

      <p>
        <strong>Tag</strong>
        <%= @animal.tag %>
      </p>

      <p>
        <strong>Sex:</strong>
        <%= @animal.sex.humanize %>
      </p>

      <p>
        <strong>Cohort:</strong>
        <%= @animal.cohort_name %>
      </p>

      <p>
        <strong>SHL Numbers:</strong>
        <%= @animal.shl_number_codes(", ") %>
      </p>
    </div>

    <%= link_to '<< BACK', animals_path, class: "mr-3 mb-3 button-outline-primary" %>
    <%= link_to "Edit", edit_animal_path(@animal), class: "button-outline-primary mt-4" %>
  </div>
</section>
