<section class="section facilities__form">
  <div class="container facilities__form__container">
    <h1 class="text-title3 mb-4">Change Password</h1>
    <div class="facilities__form__container__body">
      <%= form_with(url: password_path(@user), model: @user, local: true) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :password, class: 'label' %>
          <%= form.password_field :password, class: 'input' %>
        </div>

        <div class="field">
          <div class="control">
            <%= form.submit('Submit', class: 'button-primary') %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to('<< Back', users_path, class: "button-outline-primary") if @user.admin? %>
  </div>
</section>
