<div class="sessions">
  <div class="sessions__container">
    <div class="sessions__container__form">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border form-control w-44" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "border form-control w-44" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>



      <div class="actions">
        <%= f.submit "LOGIN", class: "button-primary" %>
      </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
    <div class="sessions__container__illustration">
      <%= image_tag 'fogg.png' %>
    </div>
  </div>
</div>
