<div class="growth-parameters columns is-hidden" data-measurement-date="<%= @report_builder.date %>" data-case-number="<%= @report_builder.cohort %>" data-processed-file-id="<%= @report_builder.processed_file_id %>">
  <div class="column">
    <h2 class="is-size-2">Size Distribution</h2>
  </div>
  <div class="column">
    <div class="is-pulled-right">
      <label class="label" for="measurement-dates">Filter By Cohort</label>
      <div class="dropdown">
        <div id="cohort-filter" class="cohort-dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span><%= @report_builder.cohort || "All Cohorts" %></span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-cohort-menu" role="menu">
          <div class="dropdown-content">
            <div class="link-container">
              <%= link_to "Clear Filter", reports_path(date: @report_builder.date), style: "width:100%;margin-left:8px;" %>
            </div>
            <% @report_builder.cohort_options.each do |cohort| %>
              <div class="link-container">
                <%= link_to cohort, reports_path(cohort: cohort, date: @report_builder.date), style: "width:100%;margin-left:8px;" %>
              </div>
              <!-- <label class="checkbox" style="width:100%;margin-left:8px;">
                <input type="checkbox"><span style="margin-left:8px;top:1px;position:relative;"><%#= cohort %></span>
              </label> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <label class="label" for="measurement-dates">Filter By Measurement Date</label>
    <div class="dropdown">
      <div id="date-filter" class="date-dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span><%= @report_builder.date || "All Measurement Dates" %></span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-date-menu" role="menu">
        <div class="dropdown-content">
          <div class="link-container">
            <%= link_to "Clear Filter", reports_path(cohort: @report_builder.cohort), style: "width:100%;margin-left:8px;" %>
          </div>
          <% @report_builder.measurement_date_options.each do |date| %>
            <div class="link-container">
              <%= link_to date, reports_path(date: date, cohort: @report_builder.cohort), style: "width:100%;margin-left:8px;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- <div class="field is-centered">
      <div class="control">
        <label class="label" for="measurement-dates">Filter Measurement Dates</label>
        <input class="input bulma-calendar" type="date" date-start-date="">
      </div>
    </div> -->
  </div>
</div>