<!-- Replaced by blazer reporting - 1/24/21  -->

<div class="container">
    <section class="section">
      <h1 class="text-title2">Reports</h1>

      <div class="tabs is-centered is-boxed">
        <ul>
          <li class="is-active">
            <%= link_to "Total Animals by Cohort", reports_path %>
          </li>
        </ul>
      </div>
    </section>

    <section class="abalone-chart">
      <%= render_report 'total_animals_by_cohort',
                          context_params: { organization_id: current_user.organization_id },
                          actions: [] do |report| %>
        <%= report.form do |f| %>
          <div>
            <%= f.multi_autocomplete :cohort, placeholder: 'Cohort...' %>
            <%= f.date_range :created_at %>
          </div>
        <% end %>
        <div class="reports_kit_actions">
          <%= report.export_csv_button 'Download CSV', class: 'button-primary' %>
          <%= report.export_xls_button 'Download XLS', class: 'button-primary' %>
        </div>
      <% end %>
    </section>
  </div>
