<section class="section facilities__show">
  <div class="container facilities__show__container">
    <div class="facilities__show__container__header">
      <h1 class="title">Location</h1>
    </div>
    <div class="facilities__show__container__body mb-5">
      <p>
        <strong>Name:</strong>
        <%= @location.name %>
      </p>

      <p>
        <strong>Facility:</strong>
        <%= @location.facility_name %>
      </p>

      <div class="facilities__index__container__header">
        <h1 class="title">Enclosures</h1>
        <%= link_to csv_upload_enclosures_path, class: "button-primary" do %>
          CSV Upload <%= image_tag  "icons/plus.png", size: 17 %>
        <% end %>
        <%= link_to new_enclosure_path, class: "button-primary" do %>
          New Enclosure <%= image_tag  "icons/plus.png", size: 17 %>
        <% end %>
      </div>

      <table class="table  table-hover table-responsive-sm">
        <thead>
          <tr class="bg-dark-light">
            <th>Name</th>
            <th>Facility</th>
            <th>Location</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @enclosures.each do |enclosure| %>
            <tr>
              <td><%= enclosure.name %></td>
              <td><%= enclosure.facility_name %></td>
              <td><%= enclosure.location_name %></td>
              <td><%= link_to 'Show', enclosure %></td>
              <td><%= link_to image_tag("icons/edit.svg", size: 24), edit_enclosure_path(enclosure) %></td>
              <td><%= link_to image_tag("icons/trash.svg", size: 24), enclosure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Edit', edit_facility_location_path(@facility, @location) %> |
    <%= link_to 'Back', facility_locations_path(@facility) %>
  </div>
</section>
