<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>Abalone Analytics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>

    <%= stylesheet_pack_tag   'styles', media: 'all' %>
    <%= stylesheet_link_tag   'application', media: 'all' %>

  </head>

  <body>
    <nav class="flex navbar is-light h-12" role="navigation" aria-label="main navigation">
      <div class="pl-2 flex logo">
        <%= link_to(root_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 items-center px-3 py-2') do %>
          <%= image_tag 'abalone_logo.png', alt: "Abalone Analytics - Homepage", class: 'h-7' %>
          <span class="logo-text pl-2" tabindex=1>Abalone Analytics</span>
        <% end %>
        <a role="button" data-target="nav-menu" class="block p-4 relative settings lg:hidden w-12" aria-label="menu" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
      </div>

      <div id="nav-menu" class="bg-white lg:bg-transparent lg:flex flex-grow flex-shrink-0 lg:h-full hidden items-stretch pl-2 py-2 lg:p-0 lg:shadow-none shadow">
        <div class="block lg:flex items-stretch justify-start mr-auto lg:h-full">
          <% if current_user %>
            <%= link_to 'Reports', reports.root_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-3 py-2 relative', tabindex: 2 %>
            <%= link_to 'Facilities', facilities_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-3 py-2 relative', tabindex: 3 %>
            <%= link_to 'Enclosures', enclosures_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-3 py-2 relative', tabindex: 4 %>
            <%= link_to 'Animals', animals_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-3 py-2 relative', tabindex: 5 %>
            <%= link_to 'Cohorts', cohorts_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-3 py-2 relativem', tabindex: 6 %>
            <%= link_to 'Operations', operations_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-3 py-2 relative', tabindex: 7 %>
            <div class="cursor-pointer dropdown-nav-item flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center relative">
              <a class="flex items-center hover:bg-gray-300 px-3 py-2 lg:py-0 relative" tabindex=8>
                Uploads
                <span class="lg:p-2"><i class="fas fa-chevron-down"></i></span>
              </a>
              <div class="absolute bg-white block lg:border-t-2 border-gray-50 dropdown py-2 rounded shadow-md text-sm top-full w-44">
                <%= link_to 'Data Import', new_measurement_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2', tabindex: 9 %>
                <%= link_to 'CSV Uploads', csv_index_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2', tabindex: 10 %>
                <%= link_to 'Files List', file_uploads_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2', tabindex: 11 %>
                <%= link_to 'Upload a file', new_file_upload_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2', tabindex: 12 %>
              </div>
            </div>
            <% if current_user.admin? %>
              <div class="cursor-pointer dropdown-nav-item flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center relative">
                <a class="flex items-center hover:bg-gray-300 px-3 py-2 lg:py-0 relative" tabindex=13>
                  Admin
                  <span class="lg:p-2"><i class="fas fa-chevron-down"></i></span>
                </a>
                <div class="absolute bg-white block lg:border-t-2 border-gray-50 dropdown py-2 rounded shadow-md text-sm top-full w-60">
                  <%= link_to 'Measurement Types', measurement_types_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2', tabindex: 14 %>
                  <%= link_to 'Users', users_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2', tabindex: 15 %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="cursor-pointer dropdown-nav-item flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center relative">
            <a class="flex items-center hover:bg-gray-300 px-3 py-2 lg:py-0 relative" tabindex=16>
              More
              <span class="lg:p-2"><i class="fas fa-chevron-down"></i></span>
            </a>

            <div class="absolute bg-white block lg:border-t-2 border-gray-50 dropdown py-2 rounded shadow-md text-sm top-full w-52">
              <%= link_to 'About', about_path, class: 'cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2', tabindex: 17 %>

              <a href="https://rubyforgood.org/" target="_blank" class="cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2" tabindex=18>
                Ruby for Good
              </a>

              <hr class="lg:h-0.5"/>

              <a href="https://github.com/rubyforgood/abalone" target="_blank" class="cursor-pointer flex flex-grow-0 flex-shrink-0 hover:bg-gray-300 items-center px-6 lg:pl-4 lg:pr-12 py-2" tabindex=19>
                Github
              </a>
            </div>
          </div>
        </div>

        <div class="flex items-stretch justify-end ml-auto">
          <div class="cursor-pointer flex flex-grow-0 flex-shrink-0 items-center px-3 py-2 relative">
            <div class="flex flex-wrap items-center justify-start">
              <% if user_signed_in? %>
                <%= link_to "Change password", edit_password_path(current_user), class: "bg-white border-2 border-gray-300 cursor-pointer hover:border-gray-400 justify-center mr-2 p-2 rounded-md text-black text-center", tabindex: 20 %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "bg-white border-2 border-gray-300 cursor-pointer hover:border-gray-400 justify-center mr-2 p-2 rounded-md text-black text-center", tabindex: 21 %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "bg-white border-2 border-current cursor-pointer font-semibold hover:bg-primary-dark hover:text-white justify-center px-4 py-2 rounded-md text-primary-dark text-center", tabindex: 20 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <% if notice %>
      <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
        <p class="font-bold"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold"><%= alert %></strong>
      </div>
    <% end %>

    <%= yield %>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application', 'tailwind' %>
  </body>
</html>
