<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>Abalone Analytics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to(root_path, class: 'navbar-item') do %>
          <%= image_tag 'abalone_logo.png' %>
          <h1 class="has-text-right has-text-weight-bold">Abalone Analytics</h1>
        <% end %>

        <a role="button" data-target="nav-menu" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="nav-menu" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'Reports', reports_path, class: 'navbar-item'%>
          <%= link_to 'Facilities', facilities_path, class: 'navbar-item' %>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Uploads
            </a>
            <div class="navbar-dropdown">
              <%= link_to 'Files List', file_uploads_path, class: 'navbar-item'%>
              <%= link_to 'Upload a file', new_file_upload_path, class: 'navbar-item'%>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <%= link_to 'About', about_path, class: 'navbar-item' %>

              <a href="https://rubyforgood.org/" target="_blank" class="navbar-item">
                Ruby for Good
              </a>

              <hr class="navbar-divider">

              <a href="https://github.com/rubyforgood/abalone/issues/new" target="_blank" class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="https://github.com/rubyforgood/abalone" target="_blank" class="button is-grey-light">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <strong>Github</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
